[submodule "firmware/lib/harp.core.rp2040"]
	path = firmware/lib/harp.core.rp2040
	url = git@github.com:AllenNeuralDynamics/harp.core.rp2040.git
[submodule "firmware/lib/rp2040.pwm"]
	path = firmware/lib/rp2040.pwm
	url = git@github.com:AllenNeuralDynamics/rp2040.pwm.git
[submodule "firmware/lib/etl"]
	path = firmware/lib/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "software/alicat"]
	path = software/alicat
	url = git@github.com:alexrudd2/alicat.git
[submodule "software/pyharp/pyharp"]
	path = software/pyharp/pyharp
	url = git@github.com:AllenNeuralDynamics/pyharp.git
